.list-item-reserva{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    height: 600px;
    width: 359px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    align-items: center;
  }
  
  .li-card-reserva {
    height: 817px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    list-style: none;
    text-decoration: none!important;
    margin-top: 62px;
  }
  
  .card-details-title{
    text-align: left;
  }
  
  .img-list-reserva{
    height: 200px;
    width: 409px;
    left: 0px;
    top: 70px;
  }
  
  .title-list-reserva{
    font-weight: bold;
    color: rgba(56, 59, 88, 1);
    text-align: left;
    font-size: 28px;
  }
  
  .details-card-reserva{
      text-align: left;
      padding: 0;
      margin-bottom: 10px;
  }

  .description-list-reserva{
    font-size: 15px;
    color: rgba(56, 59, 88, 1);
    text-align: left;
    font-weight: bold;
  }

  .details-card-item-title-reserva{
    color: rgba(56, 59, 88, 1);
    line-height: 20px;
  }

  .details-card-item-reserva{
      list-style: none;
      font-size: 15px;
  }

  .button-list-reserva{
    margin-left: 22px;
    width: 80%;
    border: none;
    color: white!important;
    border-radius: 5px;
    background-color: rgba(29, 190, 180, 1)!important;
    bottom: 10px;
    position: absolute;
  }

  .icon-item-list{
      color: rgba(56, 59, 88, 1);
  }

  .unstyle{
    list-style: none;
    text-decoration: none!important;
  }

  .card-details-title{
    font-size: 20px;
    color: rgba(56, 59, 88, 1);
    text-align: left;
    font-weight: bold;
    align-items: left;
    padding: 20px;
  }

@media screen and (max-width: 560px){
  .grid-produtos-page-reserva {
    margin-top:4em;
  }
  
  .list-item-reserva{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: auto;
  }
  .li-card-reserva{
    width: 335px;
  }
  
}

@media screen and (max-width: 300px){

  .li-card-reserva {
    width: 235px;
  }
  
}
