.button_reserva {
    height: 50px;
    width: 185px;
    margin-top: 15px;
    justify-content: center;
    align-self: center;
    gap: 10px;
    flex-wrap: wrap;
    background: #1dbeb4;
    border: none;
    border-radius: 5px;
  }